{% extends "base.html" %}

{% block title %}Message sent to Chic Events{% endblock title %}

{% block content %}
    <main>
        <div>
            <h3>Your message was submitted successfully. Thank you. </h3>
            {% comment %} {% if submitted %}
                <p> Your message was submitted successfully. Thank you </p>
            {% else %} {% endcomment %}
                {% comment %} <form action="" method="POST" novalidate>
                    <table>
                        {% csrf_token %}
                        {{ form.as_table }}
                            <tr>
                                <td>%nbsp;</td>
                                <td><input type="submit" value="Submit"></td>
                            </tr>
                    </table> {% endcomment %}
                {% comment %} </form> {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
        </div>
    </main>
{% endblock content %}