{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Home page</h1>
            {% comment %} <p><a href="{% url 'create_event' %}">Create a new event</a></p> {% endcomment %}
            {% if event_list|length == 0 %}
                <p>You are not assigned to any events</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in event_list %}
                            <tr>
                                <td><a href="{% url 'show_event' event.pk %}">{{ event.name }}</a></td>
                                <td>{{ event.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}

