{% extends 'base.html' %}
{% load static %}

{% block title %}Packages | Chic Events {% endblock title %}

{% block content %}
    <main>
        <div class="container package">
            <div class="row package-row"><h1 class=page-titles>Event Packages</h1></div>
            {% for event in event_list %}
            <div class="row package-row">
                    <div class="col-6">
                    <h2>{{ event.name }}</h3>
                        <p>{{ event.description }}</p>
                        <ul>
                            {% for description in event.description_list.all %}
                            <li>{{ description.description_list }}</li>
                            {% endfor %}
                        </ul>
                        <p><i>{{ event.price }}</i></p>
                    </div>
                    <div class="col-6"><img class="package-img" src="{{ event.image }}"></div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}

