<!doctype html>
<html>
    <head>
        <title> {% block title %} {% endblock title %} </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "about" %}">About</a></li>
                    <li><a href="{% url "list_packages" %}">Packages</a></li>
                    <li><a href="{% url "book_now" %}">Book Now</a></li>
                    <li><a href="{% url "contact_us" %}">Contact Us</a></li>
                    {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
                    {% comment %} <li><a href="{% url "logout" %}">Logout</a></li>
                    <li><a href="{% url "login" %}">Login</a></li>
                    <li><a href="{% url "signup" %}">Signup</a></li> {% endcomment %}
                </ul>
                <div>
                    <h1>Chic Events</h1>
                </div>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>